# for Loop <hr style="border:2.5px solid #ad0000ff"></hr>

<b>Gabriel R. Tabotol</b>
<br>Computer Engineer

# Iterating Over a List

In [14]:
fruits = ["apple","orange","grapes"]
for i in fruits:
 print(i)

apple
orange
grapes

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2==0:
        print(n)

2
4
6
8
10

In [16]:
for j in range(1,10):
    print(j)

1
2
3
4
5
6
7
8
9

In [17]:
for j in range(2,11,2):
 print(j)

2
4
6
8
10

# Iterating Over a Dictionary

In [18]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [19]:
# key:value
employee = {
    'name':'Signum',
    'position':'analyst',
    'salary':5
}

In [20]:
employee['position']

'analyst'

In [21]:
for key in employee:
 print(key)

name
position
salary

In [22]:
for value in employee

SyntaxError: expected ':' (2031100095.py, line 1)

In [ ]:
# key:value
employee = {
    'name':['Signum','ginger'],
    'position':['analyst','tambay'],
    'salary':[5,0]
}

In [ ]:
employee['salary']

[5, 0]